@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@keyframes dots {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

body{
    margin: 0px;
    box-sizing: border-box;
    font-family: Syncopate, "Noto Sans KR", sans-serif;
    background: rgb(241, 239, 237);
    color: black;
    transition: all 0.25s linear 0s;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

@media (min-width: 1024px) {
    .header {
        position: absolute;
    }
}
.header{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 60px;
    top: 0px;
    width: 100%;
    z-index: 10;
}

.welcome{
    font-weight: 400;
    font-size: 30px;
    padding-left: 20px;
}

.my{
    font-size: 40px;
    position: relative;
    top: 2px;
    margin-right: 50px;
}

.resume{
    font-size: 30px;
    padding-right: 20px;
}

.nav_dots{
    position: fixed;
    display: block;
    animation: 0.8s ease 0s 1 normal none running dots;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    margin-right: 20px;
    z-index: 15;
}

.dot{
    text-align: right;
    margin-top: 15px;
}

.dot_title{
    display: inline-block;
    min-height: 30px;
    font-size: 20px;
    margin: 0px 20px;
}

.dot_title:hover span{
    display: inline-block;
    animation: 0.6s ease 0s 1 normal none running dots;
}

.dot_title span{
    display: none;
    z-index: 10;
    font-size: 20px;
    margin-right: 20px;
}

@media (min-width: 1024px) {
    .home {
        height: 180vh;
    }
}

.home{
    height: 100vh;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;

    overflow-y: scroll;
}

.hi{
    margin-block-start: 0px;
    font-weight: 600;
    font-size: 120px;
    margin-bottom: 30px;
}

.my_self{
    font-weight: 550;
    font-size: 35px;
    margin-top: -20px;
}

.hr{
    width: 5rem;
    height: 0;
    margin-top: 0px;
    border: none;
    border-top: .2rem solid #000000;
    opacity: 1;
}

.introduce{
    font-size: 25px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0px;
}

.scroll_on {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 1s ease-out, transform 1s ease-out;
    text-align: center;
}

.scroll_on.type_left{
    transform: translateX(-100%);
}

.scroll_on.active {
    opacity: 1;
    transform: translateX(0);
}

.about{
    height: 100vh;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    margin: 30px 0px;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .title {
        margin-bottom: 50px;
    }
}

.title{
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 700;
}

.about_me{
    display: flex;
    display: -ms-flexbox;
    flex-flow: row wrap;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    padding: 2rem 10rem;
}

.about_me_wrapper{
    margin-bottom: 2rem;
    width: 33.3333%;
}

.about_me_info{
    display: flex;
    display: -ms-flexbox;
    flex-flow: row nowrap;
    width: 100%;
    max-width: 14rem;
    margin: 0 auto;
    opacity: .8;
}

.about_me_icon{
    width: 2rem;
    min-width: 2rem;
    height: 2rem;
    margin-top: .2rem;
    margin-right: 2rem;
}

.about_me_img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.about_me_label{
    margin-bottom: .5rem;
    font-weight: 700;
    font-size: 1.25rem;
}

.about_me_value{
    font-weight: 400;
    font-size: 1rem;
    font-family: sans-serif;
}

.skills{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 30px 0px;
    padding: 30px;
    height: 100vh;
}

.skills_container{
    display: flex;
    display: -ms-flexbox;
    flex-flow: column wrap;
    align-content: space-around;
    -ms-flex-line-pack: distribute;
    height: 43rem;
    padding-top: 20px;
}

.skills_tech_stacks{
    margin-bottom: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    flex-shrink: 0;
    width: 17rem;
    padding: 1.5rem;
    margin: 0 auto 2rem;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 1rem 1rem 1rem 0 rgba(68, 68, 68, .2);
    -webkit-box-shadow: 1rem 1rem 1rem 0 rgba(68, 68, 68, .2);
}

.hov:hover{
    transform: translateY(.5rem);
    -webkit-transform: translateY(.5rem);
    -ms-transform: translateY(.5rem);
    transition: transform .2s ease;
    -webkit-transition: -webkit-transform .2s ease;
    -o-transition: transform .2s ease;
}

.skill_title{
    padding-bottom: .5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ccc;
    font-weight: 700;
    font-size: 1.5rem;
    color: dimgray;
    font-family: sans-serif;
}

.skill_img{
    width:100%;
    padding-bottom: 15px;
}

.archiving{
    height: 100vh;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 30px;
}

.archiving_container{
    display: flex;
    flex-flow: row wrap;
    flex-wrap: nowrap;
    padding-top: 20px;
    justify-content: space-evenly;
    width: 80%;
}

.archiving_content{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 26rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: white;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 1rem 1rem 1rem 0 rgba(68, 68, 68, .2);
    -webkit-box-shadow: 1rem 1rem 1rem 0 rgba(68, 68, 68, .2);
}

.archiving_img_wrapper{
    display: block;
    width: 12rem;
    margin-bottom: 1rem;
}

.archiving_img{
    width: 100%;
}

.archiving_url{
    margin-bottom: 1rem;
    color: #258ddb;
    font-family: sans-serif;
}

.archiving_description{
    color: #444;
}

.archiving_description ul{
    padding-left: 1rem;
    margin: 0;
}

.archiving_description li{
    margin-bottom: .5rem;
    list-style: disc;
    font-family: Pretendard-Regular;
}

.portfolio_img_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12rem;
    margin-bottom: 1.5rem;
}

.portfolio_img{
    width: 23%;
}

.portfolio{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 35px;
    padding-left: 25px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.portfolio_description{
    padding-top: 1.5rem;
}

.port{
    font-family: Pretendard-Regular;
    margin-block-start: 0px;
    margin-block-end: 5px;
    font-size: 16px
}

.projects{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 4rem 2rem;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
}

.projects_container{
    padding: 3rem;
    margin: 0 auto 2rem;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 1rem 1rem 1rem 0 rgba(68, 68, 68, .2);
}

.projects_title{
    padding-bottom: .5rem;
    font-family: 'Pretendard-Regular';
    font-weight: 600;
    font-size: 2rem;
    color: #222;
    text-align: center;
}

.projects_period{
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 1rem;
    color: #6c757d;
    text-align: center;
    opacity: .8;
    font-family: 'Pretendard-Regular';
}

.projects_info{
    display: flex;
    display: -ms-flexbox;
    flex-flow: row wrap;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}

.projects_img-carousel{
    overflow: hidden;
    position: relative;
    width: 50%;
    margin-right: 3rem;
}

.projects_img-carousel2{
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
}

.projects_descriptions{
    width: calc(50% - 3rem);
}

.projects_descriptions2{
    display: flex;
    flex-flow: row wrap;
}

.projects_main-descriptions{
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Pretendard-Regular';
}

.projects_main-descriptions2{
    padding-right: 1rem;
    margin-right: 1rem;
    border-right: 1px solid #ccc;
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Pretendard-Regular';
    width: 48%;
}

.carousel-indicators [data-bs-target] {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: darkgray;
}

.postion{
    width: 5%;
}

.icon-color {
    filter: invert(1);
}

.projects_description_container{
    width: 50%;
}

.projects_description{
    margin-bottom: 1rem;
}

.projects_label{
    display: inline-block;
    vertical-align: top;
    width: 8.4rem;
    font-weight: 900;
    font-size: 1rem;
}

.label_img{
    display: inline;
}

.projects_value{
    display: inline-block;
    margin-top: -3px;
    vertical-align: middle;
    width: calc(100% - 8.4rem);
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Pretendard-Regular';
}

.projects_label_en{
    display: inline-block;
    margin-top: -3px;
    margin-left: 6px;
    vertical-align: middle;
    width: calc(100% - 8.4rem);
    font-family: sans-serif;
}

.projects_url{
    color: #258ddb;
    cursor: pointer;
    text-decoration: none;
    word-break: break-all;
}

.projects_red{
    color: #ed3770;
}